.pagination .paginator-link {
  color: #ea4c89;
}

.pagination .paginator-link:hover {
  color: #fff;
  background-color: #ea4c89;
}

.pagination .paginator-link:disabled {
  color: gray;
  background-color: white;
}
