ul.avatar-overlap {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.avatar-overlap-item {
    display: inline-block;
    position: relative;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

li.avatar-overlap-item:nth-child(n+2) { margin-left: -30px; }

ul.avatar-overlap:hover li.avatar-overlap-item:nth-child(n+2) {
   margin-left: -15px;
}

.number-circle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 4px;

  background: #adadad;
  border: 2px solid #404040;
  color: #404040;
  text-align: center;
}

.badge-notify-link {
  text-decoration: none;
}

.badge-notify{
    background: #ea4c89;
    position:relative;
    padding: .25em .5em;
    top: -10px;
    left: -12px;
    text-decoration: none;
}

.accordion-button:not(.collapsed) {
    color: #00AFB9;
    background-color: #edf4f5;
    /* color: #ea4c89;
    background-color: #f5ebef; */
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(0, 175, 185)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}


#dashboardNav .nav-link {
    color: #495057;
}

#dashboardNav .nav-link.active {
    color: black;
    border-color: transparent;
    border-bottom-color: #ea4c89;
    border-bottom-width: 2px;
}

#dashboardNav .nav-link:hover {
    color: black;
    border-color: transparent;
    border-bottom-color: #f0d6e0;
    border-bottom-width: 2px;
}

.choose-color {
    margin-right: 0.7em;
}

.delete-tag:hover {
  opacity: 0.5;
}

.add-member-btn {
  float: right;
  background-color: #ea4c89;
}

.add-member-btn:hover {
  background-color: rgba(238, 9, 121, 0.5);
}

.remove-member-btn {
  float: right;
}

a {
  cursor: pointer;
}

.profile-info {
  color: #5e5e5e;
}

.profile-username {
  color: #00AFB9;
}

.profile-username:before {
  content:"@";
}

#editProfile:hover {
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

#editActions {
  display: none;
  user-select: none;
}

#saveEdit:hover {
  cursor: pointer;
  color: #00AFB9!important;
  text-decoration: underline;
}

#cancelEdit:hover {
  cursor: pointer;
  color: red!important;
  text-decoration: underline;
}

.saveButton:hover, .saveButton:active {
  background-color: #00AFB922;
  color: #00AFB9!important;
  border-color: #00AFB9;
}

.saveButton:focus, .saveButton:focus:active {
  box-shadow: 0 0 0 0.25rem #00b0b97e;
}

.cancelButton:hover, .cancelButton:active {
  background-color: #dc354522;
  color: #dc3545;
  border-color: #dc3545;
}

.cancelButton:focus, .cancelButton:focus:active {
  box-shadow: 0 0 0 0.25rem #dc35457e;
}

.checklist-item a{
  display: none;
}

.remove-anchor-css {
  color: inherit;
  text-decoration: none;
}


.checklist-item:hover a{
  display: inline-block;
}

.checklist-input {
  border: none;
  width: 90%;
  margin-left: 1.5rem;
}

.checklist-input:focus-visible {
  outline: none;
}

@media (max-width: 767px) {
  .checklist-item a{
    display: inline-block;
  }
}

.profile-info {
  color: #5e5e5e;
}

.stats-block {
  background-color: #edf4f5;
}

.btn-primary, .btn-primary:active {
  background-color: #00AFB9;
  border: none;
}
.btn-primary:hover {
  background-color: #00676d;
  border: none;
}
.btn-primary:focus, .btn-primary:focus:active {
  background-color: #00AFB9;
  box-shadow: 0 0 0 0.25rem rgb(0 175 185 / 50%);
}

.btn-danger, .btn-danger:active {
  background-color: #ea4c89;
  border: none;
}
.btn-danger:hover {
  background-color: #d11960;
  border: none;
}
.btn-danger:focus, .btn-danger:focus:active {
  background-color: #ea4c89;
  box-shadow: 0 0 0 0.25rem rgb(234 76 137 / 50%);
}

.btn-danger.btn-danger-red, .btn-danger.btn-danger-red:active {
  background-color: #dc3545;
  border: none;
}
.btn-danger.btn-danger-red:hover {
  background-color: #bb2d3b;
  border: none;
}
.btn-danger.btn-danger-red:focus, .btn-danger.btn-danger-red:focus:active {
  background-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
}
