header .navbar-brand {
    font-size: 2em;
}

header .nav-link,
header .navbar-brand {
    color: grey;
    cursor: pointer;
}

header .nav-link {
    margin-right: 1em !important;
}

header .active {
    color: rgb(94, 94, 94);
    font-weight: bold;
}

header .nav-link:hover {
    color: #000;
}

header .navbar-collapse {
    justify-content: flex-start;
}

@media (max-width:992px) {
    .stats-dashboard {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:992px) {
    .stats-block {
        width: 50%;
    }
}

.project-nav-toggler::before {
    transition: transform .2s ease-in-out;
}

.navbar-toggler:not(.collapsed) .project-nav-toggler::before {
    transform: rotate(180deg);
}



@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

@media (max-width: 767px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(100%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-100%);
    }
}

.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-end{ 
  transform: translateX(0);
}
