header .navbar-brand {
    font-size: 2em;
}

header .nav-link,
header .navbar-brand {
    color: grey;
    cursor: pointer;
}

header .nav-link {
    margin-right: 1em !important;
}

header .active {
    color: rgb(94, 94, 94);
    font-weight: bold;
}

header .nav-link:hover {
    color: #000;
}

header .navbar-collapse {
    justify-content: flex-start;
}

@media (max-width:992px) {
    .stats-dashboard {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:992px) {
    .stats-block {
        width: 50%;
    }
}