.task-group.status-waiting .card-header, .status-waiting .is-moved {
    background: #ff8d23;
}

.task-group.status-not-started .card-header, .status-not-started .is-moved {
    background: #ffcc23;
}

.task-group.status-in-progress .card-header, .status-in-progress .is-moved {
    background: #46cbf4;
}

.task-group.status-completed .card-header, .status-completed .is-moved {
    background: #00B961;
}

.draggable {
	background: rgba(204, 204, 204, 0.4);
	transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.draggable.is-moving {
    opacity: 0.2;
    background: rgba(153, 153, 153, 0.8);
}